extends ./layout

block head
	title Glitch The Matrix!

block body
	div(id='title')
		p(class='redText header') Glitch The Matrix!
		p(class='greenText description') Glitch The Matrix And Reverse Time To Allow Trinity To Escape
	div(id='gameover')
		p(class='redText') Trinity Died!
	div(id='winner')
		p(class='greenText') Trinity Escaped!
	div(id='simulation')
		p(class='greenText' id='timeRequired')
		p(class='redText' id='time')
		p(id='score')
		include ./svg/phonebooth
		include ./svg/truck

	div(id='quiz')
		p(class='redText' id='question')
		a(class='greenText' id='optionA')
		a(class='greenText' id='optionB')
		a(class='greenText' id='optionC')
		a(class='greenText' id='optionD')

		a(class='greenText' id='autoplay') >>