doctype html
html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		block head

		include ./include/styles

	body
		block body
		include ./include/scripts
