// SCRIPTS
script(src="/js/dependencies/sails.io.js")
script(src="/js/dependencies/jquery/jquery.min.js")
script(src="/js/dependencies/moment/moment.min.js")
script(src="/js/dependencies/pikaday/pikaday.js")
script(src="/js/dependencies/pikaday/pikaday.jquery.js")
script(src="/semantic-ui/semantic.min.js")
script(src="/js/dependencies/Snapsvg/snap.svg-min.js")
script(src="/js/dependencies/lodash/lodash.min.js")
script(src="/js/dependencies/polyfill/number-polyfill.min.js")
script(src="/js/dependencies/ractive/ractive.min.js")
script(src="/js/dependencies/segment/segment.min.js")
script(src="/js/dependencies/svgjs/svg.min.js")
script(src="/js/always.js")
// SCRIPTS END