div(id='phonebooth')
	svg(width='295.478' height='607.14398')
		path(
			style="fill:none;stroke:#d40000;stroke-width:35.76530075px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 59.304142,16.374739 c 23.75174,-27.052116 155.792148,-26.392204 177.457988,-1e-6 z"
			id="path4207"
			sodipodi:nodetypes="ccc")
		path(
			style="fill:none;stroke:#d50000;stroke-width:259.3979187px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 147.23787,34.097816 0,34.991716 z"
			id="path4205")
		path(
			style="fill:none;stroke:#ce0000;stroke-width:296.84985352px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 147.69231,62.727402 0,548.052078 z"
			id="path3435")
		path(
			style="fill:none;stroke:#640303;stroke-width:264.18563843px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 147.37097,79.868602 0,506.884328 z"
			id="path4261"
			sodipodi:nodetypes="ccc")
		path(
			style="fill:none;stroke:#9f0101;stroke-width:255.72399902px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 147.17192,83.936817 0,499.428293 z"
			id="path4263"
			sodipodi:nodetypes="ccc")
		path(
			sodipodi:nodetypes="ccc"
			id="path4301"
			d="M 146.13593,89.078195 145.49326,578.22373 z"
			style="fill:#00ffff;stroke:#6ad1ff;stroke-width:244.34916687px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 219.19,86.939003 0,493.452967"
			id="line3072")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 20.618011,141.99799 254.745999,0"
			id="line3074")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 19.697021,200.66499 253.666989,0"
			id="line3076")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 20.618011,263.99802 254.745999,0"
			id="line3078")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 68.756012,86.937996 0,493.452994"
			id="line3070")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 21.538025,325.33099 251.825985,0"
			id="line3080")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 19.833008,388.40402 256.864012,0"
			id="line3082")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 19.833008,452.75201 253.531002,0"
			id="line3084")
		path(
			style="fill:none;stroke:#ed1c24;stroke-width:10;stroke-miterlimit:10"
			d="m 19.833008,515.35999 253.531002,0"
			id="line3086")
		path(
			d="m 40.864014,20.666 c 224.894996,0.427 109.515996,0 109.515996,0"
			id="path3090"
			style="fill:#ed1c24")
		path(
			style="fill:none;stroke:#ffffff;stroke-width:28.88993263px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 25.221302,48.185389 244.942018,0 z"
			id="path4259")
		path(
			style="fill:none;stroke:#878787;stroke-width:12.13595581px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
			d="m 7.3846159,313.69072 0,23.63077 z"
			id="path4324")