div(id='truck')
	svg(width='871.83301' height='387.82297')
		g(id='truck-g' transform='translate(58.77365,-318.45069)')
			g(id='truck-g2' transform='translate(-123.10665,-42.550314)')
				path(
					d='m 687.667,675.457 c 0,-5.223 -4.233,-9.456 -9.456,-9.456 H 509.456 c -5.223,0 -9.456,4.233 -9.456,9.456 l 0,0 c 0,5.222 4.233,9.455 9.456,9.455 h 168.755 c 5.223,0 9.456,-4.233 9.456,-9.455 l 0,0 z'
				)
				path(
					d='M 84.333,684.912'
					style='fill:#878787;stroke:#000000;stroke-width:40;stroke-miterlimit:10'
				)
				path(
					d='M 144.333,684.912 H 591 V 392.667 H 294.333 l -210,161.667 v 43.334 87.245 h 60 c 140,-10e-4 0,-10e-4 0,-10e-4 z'
					style='fill:#008d36;stroke:#006633;stroke-width:10;stroke-miterlimit:10'
				)
				path(
					d='M 284.333,684.912'
					style='fill:#006633'
				)
				ellipse(
					cx='215.66499'
					cy='684.91199'
					rx='42.499001'
					ry='43.911999'
					style='fill:#878787;stroke:#000000;stroke-width:40;stroke-miterlimit:10'
				)
				path(
					d='m 841,431.334 c 0,-6.627 -5.373,-12 -12,-12 H 663 c -6.627,0 -12,5.373 -12,12 v 241.578 c 0,6.628 5.373,12 12,12 h 166 c 6.627,0 12,-5.372 12,-12 V 431.334 z'
					style='fill:#2d2e83'
				)
				path(
					d='m 931,531.334 c 0,-6.627 -5.373,-12 -12,-12 H 801.833 c -6.628,0 -12,5.373 -12,12 v 141.578 c 0,6.628 5.372,12 12,12 H 919 c 6.627,0 12,-5.372 12,-12 V 531.334 z'
					style='fill:#2d2e83'
				)
				path(
					d='m 821,446.334 c 0,-6.627 -5.373,-12 -12,-12 H 706.333 c -6.628,0 -12,5.373 -12,12 v 61 c 0,6.627 5.372,12 12,12 H 809 c 6.627,0 12,-5.373 12,-12 v -61 z'
					style='fill:#36a9e1'
				)
				path(
					d='m 687.667,672.912 c 0,6.628 -5.372,12 -12,12 h -56 c -6.628,0 -12,-5.372 -12,-12 V 550.789 c 0,-6.627 5.372,-12 12,-12 h 56 c 6.628,0 12,5.373 12,12 v 122.123 z'
					style='fill:#2d2e83'
				)
				line(
					y2='684.91199'
					x2='294.33301'
					y1='392.66699'
					x1='294.33301'
					stroke-miterlimit='10'
					style='fill:none;stroke:#006633;stroke-width:10;stroke-miterlimit:10'
				)
				line(
					y2='684.91199'
					x2='454.33301'
					y1='392.66699'
					x1='454.33301'
					stroke-miterlimit='10'
					style='fill:none;stroke:#006633;stroke-width:10;stroke-miterlimit:10'
				)
				line(
					y2='554.33301'
					x2='294.33301'
					y1='554.33301'
					x1='84.333'
					stroke-miterlimit='10'
					style='fill:none;stroke:#006633;stroke-width:10;stroke-miterlimit:10'
				)
				ellipse(
					cx='354.83301'
					cy='684.91199'
					rx='42.499001'
					ry='43.911999'
					style='fill:#878787;stroke:#000000;stroke-width:40;stroke-miterlimit:10'
				)
				circle(
					cx='832.66699'
					cy='419.33401'
					r='11.667'
					style='fill:#ffed00'
				)
				line(
					y2='562.12299'
					x2='931'
					y1='562.12299'
					x1='607.66699'
					stroke-miterlimit='10'
					style='fill:#683c11;stroke:#29235c;stroke-width:10;stroke-miterlimit:10'
				)
				line(
					y2='641'
					x2='931.16602'
					y1='641'
					x1='607.83301'
					stroke-miterlimit='10'
					style='fill:#683c11;stroke:#29235c;stroke-width:10;stroke-miterlimit:10'
				)
				circle(
					cx='901'
					cy='562.12299'
					r='10'
					style='fill:#ffed00'
				)
				ellipse(
					cx='789.83301'
					cy='684.91199'
					rx='42.499001'
					ry='43.911999'
					style='fill:#878787;stroke:#000000;stroke-width:40;stroke-miterlimit:10'
				)
				line(
					y2='371.00101'
					x2='651'
					y1='538.789'
					x1='651'
					stroke-miterlimit='10'
					style='fill:none;stroke:#575756;stroke-width:20;stroke-miterlimit:10'
				)