body {
	background-color: #000;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.greenText {
	color: #01FF70;
	text-shadow: 0 0 .5em #01FF70;
}
.redText {
	color: #FF4136;
	text-shadow: 0 0 .5em #FF4136;
}


#title {
	width: 100%;
	height: 13em;
	text-align: center;
}
#title * {
	margin: 0;
	padding: 0;
}
#title .header {
	font-size: 64px;
}
#title .description {
	font-size: 32px;
}

#title, #simulation, #simulation *, #quiz, #quiz *, #gameover, #gameover *, #winner, #winner * {
	position: absolute;
}

#simulation, #gameover, #winner {
	top: 13em;
	width: 100%;
	height: 30em;
}
#gameover, #winner {
	display: none;
	z-index: 999;
	background-color: #000;
}
#gameover p, #winner p {
	text-align: center;
	width: 100%;
	font-size: 64px;
	margin-top: 2.5em;
}

#simulation {
	background-image: url('/images/background.jpg');
	background-size: 50% auto;
}
#simulation #score,
#simulation #time,
#simulation #timeRequired {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}
#simulation #time,
#simulation #timeRequired {
	float: left;
	width: 50%;
}
#simulation #score {
	font-size: 24px;
	margin-top: 4em;
	padding: 1em;
	display: none;
	background-color: rgba(0,0,0,.8);
}
#simulation #truck,
#simulation #phonebooth {
	top: 0%;
}
#simulation #truck {
	left: 0%;
}
#simulation #phonebooth {
	left: 100%;
}
#simulation #truck svg {
	left: -23em;
	top: 13em;
	transform: scale(.25);
}
#simulation #phonebooth svg {
	left: -17em;
	top: 5em;
	transform: scale(.15);
}


#quiz {
	left: 20%;
	width: 60%;
	height: 10em;
	top: 27em;
	font-size: 24px;
}
#quiz #question {
	width: 100%;
}
#quiz #optionA {
	top: 4em;
}
#quiz #optionB {
	top: 6em;
}
#quiz #optionC {
	top: 8em;
}
#quiz #optionD {
	top: 10em;
}
#quiz #autoplay {
	right: 0;
	top: 10em;
}